html, body {
  background-color: #040410;
}

.jumbotron {
    margin-bottom: 20px;
    margin-top: 20px;
    background-image: url(../../../images/gradient.png);
    background-size: 220%;
}
.jumbotron h1 {
  align-items: flex-end;
  color: white;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}
p,a {
  color: #df2521;
}
